<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>

<body>
    <a href="/carpool/create">Create a Carpool</a>
    <h2>View Carpools Nearby</h2>
    <% for( let i = 0; i < carpools.length; i++ ) { %>
    <%= carpools[i]['origin'] %> <br>
    <%= carpools[i]['destination'] %> <br>
    <%= carpools[i]['date'] %> <br>
    <%= carpools[i]['nopeople'] %> <br>
    <%= carpools[i]['description'] %> <br> <br>
    <form action="/carpool/accept" method="post">
        <input value="<%=carpools[i]['_id']%>" id="id" name="id" hidden>
        <button type="submit">Accept Carpool</button>
    </form>
    <% } %>
</body>

</html>